# C++ object files and libraries
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-specific files
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit test files
target_wrapper.*

# QtCreator files
*.autosave

# QtCreator Qml files
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake files
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Qt QML cache
*_qmlcache.qrc

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

*.exe

build/*

venv/*

release/*
JetMotor/application - Copy.cpp
JetMotor/application - Copy.h
JetMotor/application.cpp
JetMotor/application.h
JetMotor/JetMotor.pro
JetMotor/main.cpp
JetMotor/resource.qrc
JetMotor/communication/adc_communication.cpp
JetMotor/communication/adc_communication.h
JetMotor/communication/messageparser.cpp
JetMotor/communication/messageparser.h
JetMotor/communication/rs422_interface.cpp
JetMotor/communication/rs422_interface.h
JetMotor/communication/simulatorrulemanager.cpp
JetMotor/communication/simulatorrulemanager.h
JetMotor/config/functions.h
JetMotor/config/settings.cpp
JetMotor/config/settings.h
JetMotor/config/structure.cpp
JetMotor/config/structure.h
JetMotor/res/fonts/FontAwesome5_solid.otf
JetMotor/res/images/check.svg
JetMotor/res/images/checkbox.png
JetMotor/res/images/double-check.png
JetMotor/res/images/Double-check.svg
JetMotor/res/images/down_arrow.png
JetMotor/res/images/down-arrow_vs.png
JetMotor/res/images/up-error.png
JetMotor/res/images/up-simulator.png
JetMotor/res/images/up-success.png
JetMotor/res/images/up.png
JetMotor/ui/mainwindow.cpp
JetMotor/ui/mainwindow.h
JetMotor/ui/mainwindow.ui
JetMotor/ui/qfonticon.cpp
JetMotor/ui/qfonticon.h
JetMotor/ui/selectequipmentiddialog.cpp
JetMotor/ui/selectequipmentiddialog.h
JetMotor/ui/selectequipmentiddialog.ui
JetMotor/ui/serialsettingwidget.cpp
JetMotor/ui/serialsettingwidget.h
JetMotor/ui/serialsettingwidget.ui
JetMotor/ui/simulatorrulemanagerwidget.cpp
JetMotor/ui/simulatorrulemanagerwidget.h
JetMotor/ui/simulatorrulemanagerwidget.ui
aircraft_engine_monitoring/build/Desktop_Qt_6_8_1-Debug/*
